<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class='login' id='login'>
<div class='head'>
  <h1 class='company'>Smart Drawer Medicine</h1>
</div>
<div class='form'>
<form>
<input type="text" placeholder='Username' class='text' id='username' required><br>
<input type="password" placeholder='••••••••••••••' class='password'><br>
</form>
</div>
<a href="https://iot.darkissons.repl.co/dashboard" class='btn-login' id='do-login'>Login</a>
</section>
